@font-face {
    font-family: "PressStart";
    src: url("fonts/PressStart2P-Regular.ttf");
}

body {
    font-family: "PressStart";
    text-align: center;
    background: #0f0f1f;
    color: #fff;
    image-rendering: pixelated;
}

button, input {
    font-family: "PressStart";
    padding: 12px;
    border: 3px solid #fff;
    background: #ffcc00;
    cursor: pointer;
}

.slotBox {
    background: url("img/slot_bg.png") center center no-repeat;
    background-size: contain;
    padding-right: 160px;
    padding-bottom: 20px;
    width: 1200px;
    height: 700px;
    margin: 0 auto 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
}


.hidden {
    display: none;
}

.cardImg {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    border: 3px solid #fff;
}
.cardImg:hover {
    filter: brightness(1.3);
}
.disabledCard {
    opacity: 0.3;
    filter: grayscale(1);
    pointer-events: none;
}
.card-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #222;
    padding: 14px 22px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    z-index: 9999;
    animation: fade 3s ease;
}
#cardPanel {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes fade {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}